.card-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-content {
    background-color: #546e7a;
    color: #fff;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
  }